extends layout

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Aplicação NodeJS
            small Version 1.0
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li.active Dashboard
    // Main content
    section.content
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Monthly Recap Report
                        .box-tools.pull-right
                            button.btn.btn-box-tool(type='button', data-widget='collapse')
                                i.fa.fa-minus
                            button.btn.btn-box-tool(type='button', data-widget='remove')
                                i.fa.fa-times
                    // /.box-header
                    .box-body
                        .row
                            .col-md-12
                                p Lorem ipsum dolor sit amet, eiusmod ipsum vel cursus tortor. Proin vulputate erat, enim aliquam massa. Platea leo augue suscipit ultricies amet. Nec consequat, natoque nunc bibendum fermentum elit duis aenean, amet lectus vivamus sit mauris cras leo, nulla ea ac ridiculus neque, commodo ante. Velit lorem, mauris et animi aenean accumsan aenean fusce. Wisi justo quisque curabitur consectetuer, ad amet accumsan congue ut, amet pellentesque cras quam sed lobortis vulputate, est molestie sem in elit dapibus. Integer est viverra pellentesque fringilla, erat magna sapien eu amet libero donec. Ornare mauris, sapien porta elit vel eleifend, feugiat diam a elit, lacinia metus sit, molestie pharetra viverra elit.
                        // /.row
                    // ./box-body
                // /.box
            // /.col
        // /.row
    // /.content
