doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap-3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.min.css')
    script(src="/libs/jquery/jquery-2.1.4.min.js")
    script(src="/libs/bootstrap-3.3.5/js/bootstrap.min.js")
    script(src="/js/upload.js")
  body
    div#header
      a(href="/") Início      
      a(href="/quemsomos") Quem Somos
      a(href="/users") Usuários
      a(href="/upload") Upload
      a(href="/contato") Contato
    block content
    footer
      p#copyright.small rodape
