doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title AdminLTE 2 | Lockscreen
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.5
    link(rel='stylesheet', href='libs/bootstrap-3.3.5/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='libs/font-awesome-4.4.0/css/font-awesome.min.css')
    // Theme style
    link(rel='stylesheet', href='libs/AdminLTE/dist/css/AdminLTE.min.css')
  body.hold-transition.lockscreen
    // Automatic element centering
    .lockscreen-wrapper
      .lockscreen-logo
        a(href='/')
          b Node
          | SKELETON
      // User name
      .lockscreen-name John Doe
      // START LOCK SCREEN ITEM
      .lockscreen-item
        // lockscreen image
        .lockscreen-image
          img(src='../../dist/img/user1-128x128.jpg', alt='User Image')
        // /.lockscreen-image
        // lockscreen credentials (contains the form)
        form.lockscreen-credentials
          .input-group
            input.form-control(type='password', placeholder='password')
            .input-group-btn
              button.btn(type='button')
                i.fa.fa-arrow-right.text-muted
        // /.lockscreen credentials
      // /.lockscreen-item
      .help-block.text-center
        | Enter your password to retrieve your session
      .text-center
        a(href='login.html') Or sign in as a different user
      .lockscreen-footer.text-center
        | Copyright © 2014-2015
        b
          a.text-black(href='http://almsaeedstudio.com') Almsaeed Studio
        br
        |     All rights reserved
    // /.center
    // jQuery 2.1.4
    script(src='libs/jquery/jquery-2.1.4.min.js')
    // translate
    script(src="/libs/i18next/i18next-1.11.1.min.js")
    // Bootstrap 3.3.5
    script(src='libs/bootstrap-3.3.5/js/bootstrap.min.js')


