extends layout

block append styles
  link(rel='stylesheet', href='css/upload.min.css')

block content
  section.content-header
    h1
      | Aplicação NodeJS
      small Version 1.0
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Home
      li.active Dashboard
  // Main content
  section.content
    .row
      .col-md-12
        .box
          .box-header.with-border
            h3.box-title Upload
            .box-tools.pull-right
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(type='button', data-widget='remove')
                i.fa.fa-times
          // /.box-header
          .box-body
            .row
              .col-md-12
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#modal-crop') Modal                
            // /.row
          // ./box-body
          .box-footer         
        // /.box
      // /.col
    // /.row
    #modal-crop.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
     .modal-dialog(role='document')
       .modal-content
         .modal-header
           button.close(type='button', data-dismiss='modal', aria-label='Close')
             span(aria-hidden='true') ×
           h4#myModalLabel.modal-title Modal title
         .modal-body           
            .center-cropit            
              .image-editor
                .cropit-image-preview-container
                  .cropit-image-preview
                input.cropit-image-input(type='file')
                .row
                  .col-md-1.text-center
                    i.fa.fa-picture-o
                  .col-md-10
                    input.cropit-image-zoom-input(type='range')
                  .col-md-1.text-center
                    i.fa.fa-picture-o.plus
         .modal-footer
           button.btn.select-image-btn Selecionar imagem
           button.export.btn Export           
           button.btn.btn-default(type='button', data-dismiss='modal') Close
           button.btn.btn-primary(type='button') Save changes
  // /.content

block append scripts
  script(src="plugins/cropit/jquery.cropit.js")
  script(src="js/upload.min.js")
